# Visual Analytics

## Assignment 3

**Instructor:** Dr. Marco D'Ambros  
**TAs:** Carmen Armenti, Mattia Giannaccari

**Contacts:** marco.dambros@usi.ch, carmen.armenti@usi.ch, mattia.giannaccari@usi.ch

**Due Date:** May 16, 2025 @ 23:55

---
The goal of this assignment is to use **Spark (PySpark)** and **Polars** in Jupyter notebooks.  
The files `trip_data.csv`, `trip_fare.csv`, and `nyc_boroughs.geojson` are available in the provided folder: [Assignment3-data](https://usi365-my.sharepoint.com/:f:/g/personal/armenc_usi_ch/Ejp7sb8QAMROoWe0XUDcAkMBoqUFk-w2Vgroup025NhAww?e=2I7SMC).

You may clean the data as needed; however, please note that specific data cleaning steps will be required in **Exercise 5**. If you choose to clean the data before Exercise 5, make sure to retain the **original dataset** for use with the Polars exercises.

- Use **Spark** to solve **Exercises 1–4**
- Use **Polars** to solve **Exercises 5–8**

You are encouraged to use [Spark window functions](https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-window.html) whenever appropriate.

Please name your notebook file as `SurnameName_Assignment3.ipynb`

## Spark

### Exercise 1
Join the `trip_data` and `trip_fare` dataframes into one and consider only data on 2013-01-01. Please specify the number of rows obtained after joining the 2 datasets.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import DateType

In [2]:
session = SparkSession.builder.getOrCreate()

In [3]:
trip_data_df = session.read.option("inferSchema", "true").option("header", "true").csv("./datasets/trip_data.csv")
trip_fare_df = session.read.option("inferSchema", "true").option("header", "true").csv("./datasets/trip_fare.csv")

In [4]:
trip_data_df.select([col(c).alias(c.strip()) for c in trip_data_df.columns]) 
trip_fare_df = trip_fare_df.select([col(c).alias(c.strip()) for c in trip_fare_df.columns])

In [5]:
trip_data_df = trip_data_df.select(
    "*",
    col("pickup_datetime").cast(DateType()).alias("pickup_date")
)

In [6]:
joined_df = trip_data_df.join(trip_fare_df, on=["medallion", "hack_license", "pickup_datetime"])

In [7]:
filtered_df = joined_df.filter(joined_df.pickup_date == "2013-01-01")

In [8]:
print("Number of records for 2013-01-01: ", filtered_df.count())

Number of records for 2013-01-01:  412630

### Exercise 2
Provide a graphical representation to compare the average fare amount for trips _within_ and _across_ all the boroughs. You may want to have a look at: https://docs.bokeh.org/en/latest/docs/user_guide/topics/categorical.html#categorical-heatmaps

### Exercise 3
Consider only Manhattan, Bronx and Brooklyn boroughs. Then create a dataframe that shows the total number of trips *within* the same borough and *across* all the other boroughs mentioned before (Manhattan, Bronx, and Brooklyn) where the passengers are more or equal than 3.

For example, for Manhattan borough you should consider the total number of the following trips:
- Manhattan → Manhattan
- Manhattan → Bronx
- Manhattan → Brooklyn

You should then do the same for Bronx and Brooklyn boroughs.

### Exercise 4
Create a dataframe where each row represents a driver, and there is one column per borough.
For each driver-borough, the dataframe provides the maximum number of consecutive trips
for the given driver, within the given borough. Please consider only trips which were payed by card. 

For example, if for driver A we have (sorted by time):
- Trip 1: Bronx → Bronx
- Trip 2: Bronx → Bronx
- Trip 3: Bronx → Manhattan
- Trip 4: Manhattan → Bronx.
    
The maximum number of consecutive trips for Bronx is 2.

## Polars

### Exercise 5

Please work on the merged dataset of trips and fares and perform the following data cleaning tasks:

1. Remove trips with invalid locations (i.e. not in New York City);
3. Remove trips with invalid amounts:
    - Total amount must be greater than zero;
    - Total amount must correspond to the sum of all the other amounts.
5. Remove trips with invalid time:
    - Pick-up before drop-off;
    - Valid duration.

After each data cleaning task, report how many rows where removed. Finally report:
- Are there **duplicate trips**?
- How many trips remain after cleaning?

In [9]:
import polars as pl

In [ ]:
trip_data_df = pl.read_csv(
    "./datasets/trip_data.csv",
    infer_schema_length=100,
    has_header=True,
    encoding="us-ascii"
)
trip_fare_df = pl.read_csv(
    "./datasets/trip_fare.csv",
    infer_schema_length=100,
    has_header=True,
    schema_overrides={" tip_amount": pl.Float64},
    encoding="us-ascii"
)

In [15]:
trip_fare_df.head(5)

shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬──────────┬───────────┬───────────┬───────────┐
│ medallion ┆ hack_lice ┆ vendor_id ┆ pickup_da ┆ … ┆  mta_tax ┆ tip_amoun ┆ tolls_amo ┆ total_amo │
│ ---       ┆ nse       ┆ ---       ┆ tetime    ┆   ┆ ---      ┆ t         ┆ unt       ┆ unt       │
│ str       ┆ ---       ┆ str       ┆ ---       ┆   ┆ f64      ┆ ---       ┆ ---       ┆ ---       │
│           ┆ str       ┆           ┆ str       ┆   ┆          ┆ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪══════════╪═══════════╪═══════════╪═══════════╡
│ 89D227B65 ┆ BA96DE419 ┆ CMT       ┆ 2013-01-0 ┆ … ┆ 0.5      ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ 5E5C82AEC ┆ E711691B9 ┆           ┆ 1         ┆   ┆          ┆           ┆           ┆           │
│ F13C3F540 ┆ 445D6A630 ┆           ┆ 15:11:48  ┆   ┆          ┆           ┆           ┆           │
│ D4C…      ┆ 7C1…      ┆           ┆           ┆   ┆          ┆           ┆           ┆           │
│ 0BD7C8F5B ┆ 9FD8F69F0 ┆ CMT       ┆ 2013-01-0 ┆ … ┆ 0.5      ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ A12B88E0B ┆ 804BDB554 ┆           ┆ 6         ┆   ┆          ┆           ┆           ┆           │
│ 67BED28BE ┆ 9F40E9DA1 ┆           ┆ 00:18:35  ┆   ┆          ┆           ┆           ┆           │
│ A73…      ┆ BE4…      ┆           ┆           ┆   ┆          ┆           ┆           ┆           │
│ 0BD7C8F5B ┆ 9FD8F69F0 ┆ CMT       ┆ 2013-01-0 ┆ … ┆ 0.5      ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ A12B88E0B ┆ 804BDB554 ┆           ┆ 5         ┆   ┆          ┆           ┆           ┆           │
│ 67BED28BE ┆ 9F40E9DA1 ┆           ┆ 18:49:41  ┆   ┆          ┆           ┆           ┆           │
│ A73…      ┆ BE4…      ┆           ┆           ┆   ┆          ┆           ┆           ┆           │
│ DFD2202EE ┆ 51EE87E32 ┆ CMT       ┆ 2013-01-0 ┆ … ┆ 0.5      ┆ 0.0       ┆ 0.0       ┆ 6.0       │
│ 08F7A8DC9 ┆ 05C985EF8 ┆           ┆ 7         ┆   ┆          ┆           ┆           ┆           │
│ A57B02ACB ┆ 431D850C7 ┆           ┆ 23:54:15  ┆   ┆          ┆           ┆           ┆           │
│ 81F…      ┆ 863…      ┆           ┆           ┆   ┆          ┆           ┆           ┆           │
│ DFD2202EE ┆ 51EE87E32 ┆ CMT       ┆ 2013-01-0 ┆ … ┆ 0.5      ┆ 0.0       ┆ 0.0       ┆ 10.5      │
│ 08F7A8DC9 ┆ 05C985EF8 ┆           ┆ 7         ┆   ┆          ┆           ┆           ┆           │
│ A57B02ACB ┆ 431D850C7 ┆           ┆ 23:25:03  ┆   ┆          ┆           ┆           ┆           │
│ 81F…      ┆ 863…      ┆           ┆           ┆   ┆          ┆           ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴──────────┴───────────┴───────────┴───────────┘

In [18]:
print("Trip data columns: ", trip_data_df.columns)
print("Trip fare columns: ", trip_fare_df.columns)

Trip data columns:  ['medallion', 'hack_license', 'vendor_id', 'rate_code', 'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_time_in_secs', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']
Trip fare columns:  ['medallion', 'hack_license', 'vendor_id', 'pickup_datetime', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount']

In [ ]:
trip_data_df = trip_data_df.rename({name: name.strip() for name in trip_data_df.columns})
trip_fare_df = trip_fare_df.rename({name: name.strip() for name in trip_fare_df.columns})

In [19]:
joined_df = trip_data_df.join(trip_fare_df, on=["medallion", "hack_license", "pickup_datetime"], how="inner")

In [20]:
joined_df.head(5)

shape: (5, 22)
┌────────────┬───────────┬───────────┬───────────┬───┬─────────┬───────────┬───────────┬───────────┐
│ medallion  ┆ hack_lice ┆ vendor_id ┆ rate_code ┆ … ┆ mta_tax ┆ tip_amoun ┆ tolls_amo ┆ total_amo │
│ ---        ┆ nse       ┆ ---       ┆ ---       ┆   ┆ ---     ┆ t         ┆ unt       ┆ unt       │
│ str        ┆ ---       ┆ str       ┆ i64       ┆   ┆ f64     ┆ ---       ┆ ---       ┆ ---       │
│            ┆ str       ┆           ┆           ┆   ┆         ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪═══════════╡
│ 89D227B655 ┆ BA96DE419 ┆ CMT       ┆ 1         ┆ … ┆ 0.5     ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ E5C82AECF1 ┆ E711691B9 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ 3C3F540D4C ┆ 445D6A630 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ …          ┆ 7C1…      ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ 0BD7C8F5BA ┆ 9FD8F69F0 ┆ CMT       ┆ 1         ┆ … ┆ 0.5     ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ 12B88E0B67 ┆ 804BDB554 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ BED28BEA73 ┆ 9F40E9DA1 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ …          ┆ BE4…      ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ 0BD7C8F5BA ┆ 9FD8F69F0 ┆ CMT       ┆ 1         ┆ … ┆ 0.5     ┆ 0.0       ┆ 0.0       ┆ 7.0       │
│ 12B88E0B67 ┆ 804BDB554 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ BED28BEA73 ┆ 9F40E9DA1 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ …          ┆ BE4…      ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ DFD2202EE0 ┆ 51EE87E32 ┆ CMT       ┆ 1         ┆ … ┆ 0.5     ┆ 0.0       ┆ 0.0       ┆ 6.0       │
│ 8F7A8DC9A5 ┆ 05C985EF8 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ 7B02ACB81F ┆ 431D850C7 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ …          ┆ 863…      ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ DFD2202EE0 ┆ 51EE87E32 ┆ CMT       ┆ 1         ┆ … ┆ 0.5     ┆ 0.0       ┆ 0.0       ┆ 10.5      │
│ 8F7A8DC9A5 ┆ 05C985EF8 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ 7B02ACB81F ┆ 431D850C7 ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
│ …          ┆ 863…      ┆           ┆           ┆   ┆         ┆           ┆           ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴─────────┴───────────┴───────────┴───────────┘

In [26]:
ny_df = joined_df.filter(
    (joined_df["pickup_latitude"] >= 40.4774) &
    (joined_df["pickup_latitude"] <= 40.9176) &
    (joined_df["pickup_longitude"] >= -74.2590) &
    (joined_df["pickup_longitude"] <= -73.7004)
)
print("Number of records before filtering: ", joined_df.shape[0])
print("Number of records after filtering: ", ny_df.shape[0])
print("Deleted records: ", joined_df.shape[0] - ny_df.shape[0])

Number of records before filtering:  14776615
Number of records after filtering:  14504034
Deleted records:  272581

In [29]:
ny_df = ny_df.filter(
    (ny_df["total_amount"] >= 0) & 
    (ny_df["total_amount"] == ny_df["fare_amount"] + ny_df["tolls_amount"] + ny_df["tip_amount"]) &
    (ny_df["pickup_datetime"] < ny_df["dropoff_datetime"])

)

### Exercise 6

Compute the **total revenue** (total_amount) grouped by:
- Pick-up hour of the day (0–23)
- Passenger count (group >=6 into “6+”)

Create a heatmap where:
- X-axis = hour
- Y-axis = passenger count group
- Cell value = average revenue per trip

### Exercise 7

Define an "anomalous trip" as one that satisfies at least two of the following:
- Fare per mile is above the 95th percentile
- Tip amount > 100% of fare
- trip_time_in_secs is less than 60 seconds but distance is more than 1 mile

Create a dataframe of anomalous trips and:
- Report how many such trips exist
- Create a scatterplot to visualize the anomaly metrics
- Describe the visualization identifying groups and outliers

### Exercise 8
For each driver (hack_license), calculate the **total profit per hour worked**, where:
> profit = 0.7 * (fare_amount + tip_amount) when the trip starts between 7:01 AM and 7:00 PM\
> profit = 0.8 * (fare_amount + tip_amount) when the trip starts between 7:01PM and 7:00 AM

Estimate "hours worked" by summing trip_time_in_secs.

Plot a line chart showing the distribution of average profit per hour **for the top 10% drivers** in terms of total trips.

Which time of day offers **best earning efficiency**?